<div>
    Sender: <input type="text"
                   name="Sender"
                   ng-model="Application.Sender"
                   ng-maxlength="30"
                   required>
    <div ng-show="ApplicationForm.Sender.$error.maxlength && ApplicationForm.Sender.$dirty">
        The Subject cannot be more than 30 characters!
    </div>

    <div ng-show="ApplicationForm.Sender.$error.required && ApplicationForm.Sender.$dirty">
        Subject cannot be left blank!
    </div>
    <br>

    Subject: <input type="text"
                    name="Subject"
                    ng-model="Application.Subject"
                    ng-maxlength="30"
                    required>
    <div ng-show="ApplicationForm.Subject.$error.maxlength && ApplicationForm.Subject.$dirty">
        The Subject cannot be more than 30 characters!
    </div>

    <div ng-show="ApplicationForm.Subject.$error.required && ApplicationForm.Subject.$dirty">
        Subject cannot be left blank!
    </div>
    <br>
    PostDate: <input type="date"
                   name="PostDate"
                   ng-model="Application.PostDate"
                   required>
    <div ng-show="ApplicationForm.PostDate.$error.required && ApplicationForm.Sender.$dirty">
        You must enter a date!
    </div>
</div>